:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --link-base-color: #212121;
    --link-active-color: #2196F3;
    --white-color: #FFFFFF;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --background-button-color: #F5F4FA;
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

/* Site nav */
.logo {
color: var(--title-text-color);
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}

.logo .accent {
    color: var(--link-active-color);
}

.logo:hover,
.logo:focus {
color: var(--link-active-color);
}

.site-nav .link {
    color: var(--link-base-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link.current{
color: var(--link-active-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--link-active-color);
}

/* contacts */
.contacts .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--link-active-color);
}

/* hero title */
.hero-title {
    color: var(--white-color);
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.batton {
color: var(--white-color);
font-family: inherit;
}

.batton.primary {
    background-color: var(--link-active-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.06em;
}
.batton.primary:hover,
.batton.primary:focus {
    background-color: var(--white-color);
    color: var(--link-active-color);
}

/* section */
.section-title {
color: var(--link-base-color);
font-weight: 700;
font-size: 36px;
line-height:1.17;
}

/* features */
.feature-list .title {
color: var(--link-base-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

/* human */
.human-list .title {
    color:var(--link-base-color);
}

.human-list .position{
font-size: 16px;
line-height: 1.19;
}


/* portfolio */

.button-filters {
    color: var(--link-base-color);
    background-color: var(--white-color);
}

.button-filters.item {
    background-color: var(--background-button-color);
    color: var(--link-base-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.button-filters.item:hover,
.button-filters.item:focus {
    background-color: var(--link-active-color);
    color: var(--white-color);
} 


.list-projects .project {
    color: var(--link-base-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}
.list-projects .project:hover,
.list-projects .project:focus {
    color: var(--link-active-color);
}

.list-projects .working {
color: var(--primary-text-color);
font-size: 16px;
line-height: 1.88;

}
.list-projects .working:hover,
.list-projects .working:focus {
    color: var(--link-active-color);
}

/* footer */
.footer {
  background-color: #2F303A;
}

.footer .logo {
    color: var(--white-color);
}

.footer .logo:hover,
.footer .logo:focus {
    color: var(--link-active-color);
}
.address {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.address:hover,
.address:focus {
color: var(--link-active-color);
}

.contact {
color: var(--footer-contact-color);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
text-decoration: none;
}
.contact:hover,
.contact:focus {
color: var(--link-active-color);
}